
/* ==================
    FOOTER BANNER
    -------------------*/

footer,
.container,
.foot-menu ul {
  display: flex;
}

footer,
.container {
  justify-content: center;
}

.container {
  flex-direction: column;
}

.right-foot {
  flex-direction: column;
}

.foot-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logo-container {
  flex-wrap: nowrap;
}

@media only screen and (max-width:480px) {
  .foot-menu {
    flex-direction: column;
  }
}



@media only screen and (min-width:724px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }

  .rightnav {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
  .banner2,
  .banner4 {
    flex-direction: row-reverse;
  }
  .banner3,
  .banner5 {
    flex-direction: row;
  }

  .container {
    flex-direction: row;
  }
}
