/*
  This is the main base styles for the SoCal Region 1 Website. It includes things like font type, colors, images, etc.
  Everything in this stylesheet is sized and styled for the mobile version of site.

  **FLEXBOX LAYOUTS ARE NOT INCLUDED IN THIS FILE**
  See flex.css in 'styles' folder for layout.

  **MEDIA QUERIES ARE NOT INCLUDED IN THIS FILE**
  See media-queries.css in 'styles' folder for media queries.

  Your lovely web developer
  Jacob D. Castro

*/

body,
nav,
header,
footer {
  margin: 0;
}

/*=== FONT STYLING ===*/
.header-content h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
}
/* ===========================
        OTHER BANNERS STYLE
    ----------------------------*/

.events {
    background-image: url("../images/stock-photos/1-events-banner.jpg");
}
.churches {
  background-image: url("../images/stock-photos/2-churches-banner.jpg");
}
.about {
    background-image: url("../images/stock-photos/3-about-banner.jpg");
}
.resources {
    background-image: url("../images/stock-photos/4-resources-banner.jpg");
}

/* ===========================
        FOOTER STYLE
    ----------------------------*/

    .social-contact,
    .foot-menu,
    address {
      /* only to view border of divs in footer
      border-bottom: 2px solid white; */
      padding: 5px;
    }

footer {
  background-color: #181818;
  color: #fff;
  padding: 15px 10%;
}

.footbox {
  margin: 15px
}

.facebook {
  width: 425px;
  height: 550px;
  margin-bottom: 0px;
}

.foot-menu {
  height: 50px;
  margin-top: 0;
}

.foot-menu a {
  background-color: #BCBEC0;
  margin: 7px;
  padding: 7px 7px 0px 10px;
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  border-radius: 22px;
  height: 28px;
}
.foot-menu a:hover,
.foot-menu a:active {
  background-color: #5E9EA2;
  font-weight: 700;
  transition: 380ms;
}

address h4,
address p {
  margin: 0;
  padding-bottom: 4px;
  letter-spacing: 1.5px;
}

.footbox h4 {
  font-size: 1.25em;
}

address a {
  color: white;
}

footer img {
  height: 130px;
  width: auto;
  margin: 0px;
}

.copyright {
  font-size: .89em;
  font-weight: 400;
  letter-spacing: 1px;
}
