/* ==================
    NAVIGATION BAR
    -------------------*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* ==================
    HEADER BANNER
    -------------------*/

header, .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  flex-grow: 1;
}

.headline {
  display: flex;
}

.photo-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.photo-gallery {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.john-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.speaker-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.schedule-section,
.schedule {
  display: flex;
  flex-direction: column;
}

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.popup {
  justify-content: center;
  align-items: center;
}

.popup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-list {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}



@media only screen and (max-width:480px) {

}



@media only screen and (min-width:724px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }

  .rightnav {
    flex-direction: row;
  }

  .buttons {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
  .banner2,
  .banner4 {
    flex-direction: row-reverse;
  }
  .banner3,
  .banner5 {
    flex-direction: row;
  }

  .container {
    flex-direction: row;
  }
}
