/*
  This is the main base styles for the SoCal Region 1 Website. It includes things like font type, colors, images, etc.
  Everything in this stylesheet is sized and styled for the mobile version of site.

  **FLEXBOX LAYOUTS ARE NOT INCLUDED IN THIS FILE**
  See flex.css in 'styles' folder for layout.

  **MEDIA QUERIES ARE NOT INCLUDED IN THIS FILE**
  See medque.css in 'styles' folder for media queries.

  Your lovely web developer
  Jacob D. Castro

*/

body,
nav,
header,
footer {
  margin: 0;
}

/*=== FONT STYLING ===*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  color: white;
}
.header-content h1,
.schedule-section h1 {
  font-family: 'Economica', sans-serif;
}
.header-content h3,
.schedule h4 {
  font-family: 'Prata', serif;
}
p {
  letter-spacing: 1.75px;
}







/* ===========================
        NAVIGATION BAR STYLE
    ----------------------------*/

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-logo {
  height: 100px;
  width: auto;
  margin: 0;
  padding: 0;
}

.rightnav {
  height: 125px;
  width: 50%;
  margin: 0;
  padding: 18px 0;
}

.rightnav a {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 15px;
  margin: 5px;
}
.rightnav a:hover {
  text-decoration: underline;
  transition: 350ms;
}




/* ===========================
        MAIN HEADER STYLE
    ----------------------------*/

header {
  background-image: url("../../images/summit-photos/man-night-main.jpg");
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  height: 575px;
  color: #fff;
  width: 100%;
  padding: 0;
}

.header-content {
  width: 100%;
  text-align: center;
}

.header-content h3 {
  position: absolute;
  top: 17em;
  right: 0;
  font-size: .9em;
  letter-spacing: 10px;
  margin: 0px auto;
  padding: 0px 8px;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
}

.header-content h1 {
  top: 25em;
  font-size: 3em;
  letter-spacing: 10px;
  margin: 20px auto;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
  z-index: 2;
}

.header-content h3 {
  font-size: .8em;
  letter-spacing: 10px;
  margin: 5px auto;
  text-align: center;
}

.header-content h1 {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 8px auto;
}
.white-line1 {
  top: 3.25em;
  height: 7px;
}
.white-line2 {
  top: 43px;
  height: 4px;
}
.white-line3 {
  top: 45px;
  height: 4px;
}


.line {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.headline {
  width: 100%;
}

.beyond-headline {
  text-align: center;
  position: absolute;
}

.content-container {
  background-color: #040404;
  margin: 0;
  z-index: 0;
  padding: 0px;
}


.summary {
  text-align: center;
}

.summary p {
  margin: 0px auto;
  padding: 20px 5%;
  max-width: 900px;
}

.summary h5 {
  font-size: 1.68em;
  letter-spacing: 4px;
  margin: 8px auto;
}

.dtl {
  text-align: center;
  border: solid 3px #fff;
  border-radius: 9px;
  background-color: #5E9EA2;
  margin: 55px 20px;
  max-width: 500px;
}

.dtl div {
  margin: 25px;
}
.dtl div h4 {
  font-size: 1.5em;
  margin: 3.5px;
  color: #fff;
}
.dtl div p {
  font-size: 1.2em;
  margin: 3.5px;
  color: #fff;
}

.speakers {
  margin: 20px;
}

.speakers h3 {
  font-size: 1.5em;
  letter-spacing: 3px;
  text-align: center;
}
.side-speakers h5,
.side-speakers p {
  text-align: center;
  margin: 5px auto;
}


.john-martin {
  margin-bottom: 2px;
}

.john-pic {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 4px white;
  border-radius: 100%;
}

.john-pic img {
  height: 125px;
  width: auto;
  border-radius: 100%;
}

.john-title h4,
.john-title h5 {
  font-size: 1.25em;
  text-align: center;
  margin: 5px auto;
}

.speakers h5 {
  font-size: 1.6em;
  letter-spacing: 3px;
  margin: 8px auto;
}

.speakers ul {
  margin: 5px auto;
}

/* ====================================== */

.schedule-section {
  z-index: 0;
  text-align: center;
  background: linear-gradient(#040404, rgba(0, 0, 0, 0.1), #040404),
   url("../../images/summit-photos/space-image.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 750px;

}

.schedule-headline {
  margin-top: 70px;
  position: relative;
}

.schedule-headline h1 {
  font-size: 2.8em;
  letter-spacing: 10px;
  margin: 20px auto;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
  z-index: 1;
}
.white-line2 {
  z-index: 0;
}

.schedule-section {
  /* position: absolute; */
}

.schedule {
  margin: 15px auto;
}

.schedule h4 {
  letter-spacing: 6px;
  font-weight: 400;
  text-shadow: 4px 6px 9px #040404;
}

.circle {
  background-color: #fff;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  margin: auto;
  box-shadow: 4px 6px 20px #040404;
}


/* =============================== */

.cost-section {
  text-align: center;
}

.cost-section h2 {
  font-size: 1.8em;
  letter-spacing: 4px;
}




/* =============================== */

.register-section {
  background: linear-gradient(#040404, rgba(0, 0, 0, 0.001), #040404), url('../../images/summit-photos/man-under-stars-tall.jpg');
  background-position: bottom;
  background-size: cover;
  height: 550px;
}

.register-headline {
  position: relative;
  margin-top: 52px;
}

.register-section h1 {
  font-family: 'Economica', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  margin: 20px auto;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
  z-index: 2;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: white;
  border-radius: 15px;
  padding: 20px 28px;
  margin: 10px 15px;
}
.btn1 {
  border: solid 3px white;
}
.btn2 {
  background-color: #096683;
  border: solid 3px #096683;
}
.btn1:hover {
  cursor: pointer;
  background-color: #096683;
  border: solid 3px #096683;
  transition: 300ms;
}
.btn2:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: solid 3px #fff;
  transition: 300ms;
}


.copy {
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 12px;
}
