/*
  This is the main base styles for the SoCal Region 1 Website. It includes things like font type, colors, images, etc.
  Everything in this stylesheet is sized and styled for the mobile version of site.

  **FLEXBOX LAYOUTS ARE NOT INCLUDED IN THIS FILE**
  See flex.css in 'styles' folder for layout.

  **MEDIA QUERIES ARE NOT INCLUDED IN THIS FILE**
  See medque.css in 'styles' folder for media queries.

  Your lovely web developer
  Jacob D. Castro

*/

body,
nav,
header,
footer {
  margin: 0;
}

/*=== FONT STYLING ===*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  color: white;
}
.header-content h1,
.schedule-section h1 {
  font-family: 'Economica', sans-serif;
}
.header-content h3,
.schedule h4 {
  font-family: 'Prata', serif;
}
p {
  letter-spacing: 1.75px;
}







/* ===========================
        NAVIGATION BAR STYLE
    ----------------------------*/

.navbar {
  /* height: 425px; */
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-logo {
  height: 100px;
  width: auto;
  margin: 0;
  padding: 0;
}

.rightnav {
  height: 125px;
  width: 50%;
  margin: 0;
  padding: 18px 0;
}

.rightnav a {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 15px;
  margin: 5px;
}
.rightnav a:hover {
  text-decoration: underline;
  transition: 350ms;
}




/* ===========================
        MAIN HEADER STYLE
    ----------------------------*/

header {
  background-image: url("../../images/summit-photos/man-night-main.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 575px;
  color: #fff;
  width: 100%;
}


.header-content h3 {
  position: absolute;
  top: 17em;
  right: 0;
  font-size: .9em;
  letter-spacing: 10px;
  margin: 0px auto;
  padding: 0px 8px;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
}

.header-content h1 {
  font-size: 3em;
  letter-spacing: 10px;
  margin: 20px 0px;
  text-align: center;
  text-shadow: 4px 9px 14px #040404;
  z-index: 1;
}

.white-line1 {
  position: absolute;
  top: 8em;
  right: 0;
  background-color: #fff;
  z-index: 0;
  width: 100%;
  height: 5px;
}

.headline {
  position: absolute;
}

.content-container {
  background-color: #040404;
  margin: 0;
  padding: 20px;
}

.summary {
  text-align: center;
}

.summary h5 {
  font-size: 1.68em;
  letter-spacing: 4px;
  margin: 8px auto;
}

.dtl {
  text-align: center;
  border: solid 3px #fff;
  border-radius: 9px;
  background-color: #5E9EA2;
  margin: 55px auto;
}

.dtl div {
  margin: 25px;
}
.dtl div h4 {
  font-size: 1.5em;
  margin: 3.5px;
  color: #040404;
}
.dtl div p {
  font-size: 1.2em;
  margin: 3.5px;
  color: #040404;
}

.speakers h5,
.spakers ul li {
  text-align: center;
}

.john-martin {
  margin-bottom: 2px;
}

.john-pic {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 4px white;
  border-radius: 100%;
}

.john-pic img {
  height: 125px;
  width: auto;
  border-radius: 100%;
}

.john-title h4,
.john-title h5 {
  font-size: 1.25em;
  text-align: center;
  margin: 5px auto;
}

/* ====================================== */

.schedule-section {
  text-align: center;
  background-image: url('../../images/summit-photos/spaceimage.jpg');
}
.schedule-section h1 {
}

.line {
  position: absolute;
  background-color: #fff;
  z-index: 0;
  right: 0;
  width: 100%;
}

.circle {
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: auto;
}
