/*  */

@media only screen and (min-width: 480px) {

  .beyond-headline h1 {
    font-size: 7.5em;
  }
  .header-content h3 {
    font-size: 1em;
    top: 12.8em;
  }

  .white-line1 {
    height: 10px;
    top: 4.66em;
  }

  .summary p {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .summary h5 {
    font-size: 2em;
    letter-spacing: 8px;
  }

  .dtl div h4 {
    font-size: 1.75em;
  }
  .dtl div p {
    font-size: 24px;
  }

  .speakers h3 {
    font-size: 2em;
  }

  .john-pic img {
    height: 150px;
    width: auto;
  }

  .john-title h4 {
    font-size: 2.3em;
  }

  .side-speakers h5 {
    font-size: 2.1em;
  }

  .side-speakers p {
    font-size: 1.28em;
  }

}

@media only screen and (min-width: 560px) {
  .dtl {
    margin: 20px auto;
  }
}



@media only screen and (min-width: 724px) {

  /*  */
  .header-content {
    background-color: red;
  }


  #mobileNav {
    display: none;
  }

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 225px;
  }
  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: .85em;
    padding: 10px;
  }

/*--======================================================
==========================================================
          MEDIA QUERY BORDER
==========================================================
==========================================================-->*/

@media only screen and (min-width: 1024px) {

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 100px;
  }

  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: 1.1em;
    padding: 14px;
  }



  /* =========================
      MAIN HEADER STYLE
      ------------------------*/

  header {
    height: 700px;
  }
  .header-content h3 {
    font-size: 2.5em;
  }
  .header-content h1 {
    font-size: 4.5em;
    letter-spacing: 18px;
    border-width: 11px;
    padding: 9px 9px 9px 22px;
  }
}
