@media only screen and (max-width: 480px) {

  /* ===========================
          MAIN HEADER STYLE
      ----------------------------*/

  .header-content h3 {
    font-size: .8em;
    letter-spacing: 10px;
    margin: 5px 0px;
    text-align: center;
  }

  .header-content h1 {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 8px 0px;
    padding: 5px 3px 5px 10px;
  }

  .white-line1 { /* BEYOND white line */
    top: 20.00em;
    height: 9px;
  }
  .white-line2 { /* SCHEDULE OF EVENTS whiteline */
    top: 8em;
    height: 5px;
  }


}




/*--======================================================
==========================================================
          MEDIA QUERY BORDER
==========================================================
==========================================================-->*/

@media only screen and (min-width: 724px) {

  #mobileNav {
    display: none;
  }

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 225px;
  }
  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: .85em;
    padding: 10px;
  }

/*--======================================================
==========================================================
          MEDIA QUERY BORDER
==========================================================
==========================================================-->*/

@media only screen and (min-width: 1024px) {

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 100px;
  }

  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: 1.1em;
    padding: 14px;
  }



  /* =========================
      MAIN HEADER STYLE
      ------------------------*/

  header {
    height: 700px;
  }
  .header-content h3 {
    font-size: 2.5em;
  }
  .header-content h1 {
    font-size: 4.5em;
    letter-spacing: 18px;
    border-width: 11px;
    padding: 9px 9px 9px 22px;
  }
}
