/*  */

@media only screen and (min-width: 480px) {

  .header-content {
    margin-bottom: 40px;
  }

  .beyond-headline h1 {
    font-size: 7.5em;
  }
  .header-content h3 {
    position: static;
    margin: 5px auto 12em;
    font-size: 1em;
    top: 3em;
  }

  .white-line1 {
    height: 10px;
    top: 4.66em;
  }

  .summary p,
  .john-title p {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .summary h5 {
    font-size: 2em;
    letter-spacing: 8px;
  }

  .dtl div h4 {
    font-size: 1.75em;
  }
  .dtl div p {
    font-size: 24px;
  }

  .speakers h3 {
    font-size: 2em;
  }

  .speaker {
    height: 60px;
  }
  .speaker-pic {
    height: 75px;
    width: auto;
  }

  .speaker-title div h4 {
    font-size: 1.5em;
  }

  .speaker-title {
    height: 65px;
  }

  .schedule-section {
    height: 900px;
  }

  .schedule-headline h1 {
    font-size: 5em;
  }
  .white-line2 {
    top: 64px;
    height: 4.5px;
  }

  .schedule h4 {
    font-size: 1.3em;
  }

  .circle {
    height: 14px;
    width: 14px;
  }

  .cost-section h2 {
    font-size: 2.35em;
  }
  .cost-section h3 {
    font-size: 1.35em;
  }

  .register-section {
    background: linear-gradient(#040404, rgba(0, 0, 0, 0.001), #040404), url('../../images/summit-photos/man-night-main.jpg');
    background-position: bottom;
    background-size: cover;
    height: 550px;
  }

  .register-headline h1 {
    font-size: 5em;
  }
  .white-line3 {
    top: 64px;
    height: 5px;
  }

}

@media only screen and (min-width: 560px) {
  .dtl {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 724px) {

  #mobileNav {
    display: none;
  }

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 225px;
  }
  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: .85em;
    padding: 10px;
  }

  /* ======================= */

  header {
    height: 700px;
  }

  .header-content {
    margin-bottom: 80px;
  }

  .beyond-headline h1 {
    font-size: 8em;
  }
  .header-content h3 {
    position: static;
    margin: 5px auto 12em;
    font-size: 1.15em;
    top: 3em;
  }

  .white-line1 {
    height: 10px;
    top: 4.8em;
  }

  .summary p,
  .john-title p {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .summary h5 {
    font-size: 2em;
    letter-spacing: 8px;
  }

  .dtl div h4 {
    font-size: 1.75em;
  }
  .dtl div p {
    font-size: 24px;
  }

  .speakers h3 {
    font-size: 2em;
  }

  .john-pic img {
    height: 150px;
    width: auto;
  }

  .john-title h4 {
    font-size: 2.3em;
  }

  .side-speakers h5 {
    font-size: 2.1em;
  }

  .side-speakers p {
    font-size: 1.28em;
  }

  .schedule-section {
    height: 1000px;
  }

  .schedule-headline h1 {
    font-size: 6em;
  }
  .white-line2 {
    top: 78px;
    height: 6px;
  }

  .schedule h4 {
    font-size: 1.42em;
  }

  .circle {
    height: 17px;
    width: 17px;
  }

  .cost-section h2 {
    font-size: 2.47em;
  }
  .cost-section h3 {
    font-size: 1.35em;
  }

  .register-section {
    background: linear-gradient(#040404, rgba(0, 0, 0, 0.001), #040404), url('../../images/summit-photos/man-night-main.jpg');
    background-position: bottom;
    background-size: cover;
    height: 520px;
  }

  .register-headline h1 {
    font-size: 6em;
  }
  .white-line3 {
    top: 73px;
    height: 6px;
  }

}

@media only screen and (min-width: 1000px) {

  /* ==================
      NAVIGATION BAR
      -------------------*/
  .navbar {
    height: 100px;
  }

  .header-logo {
    height: 125px;
  }
  .rightnav {
    width: auto;
  }

  .header-logo {
    height: 90px;
  }

  #fullNav {
    height: 100px;
    width: 100%;
  }

  .rightnav a {
    font-size: 1.1em;
    padding: 14px;
  }



  /* =========================
      MAIN HEADER STYLE
      ------------------------*/

      header {
        height: 750px;
      }

      .header-content {
        margin-bottom: 120px;
      }

      .summary p,
      .john-title p {
        font-size: 18px;
        letter-spacing: 3px;
      }
      .summary h5 {
        font-size: 2em;
        letter-spacing: 8px;
      }

      .dtl div h4 {
        font-size: 1.75em;
      }
      .dtl div p {
        font-size: 24px;
      }

      .speakers h3 {
        font-size: 2em;
      }

      .john-pic img {
        height: 150px;
        width: auto;
      }

      .schedule-headline h1 {
        font-size: 6em;
      }
      .white-line2 {
        top: 78px;
        height: 6px;
      }

      .schedule h4 {
        font-size: 1.42em;
      }

      .circle {
        height: 17px;
        width: 17px;
      }

      .cost-section h2 {
        font-size: 2.47em;
      }
      .cost-section h3 {
        font-size: 1.35em;
      }

      .register-section {
        background: linear-gradient(#040404, rgba(0, 0, 0, 0.001), #040404), url('../../images/summit-photos/man-night-main.jpg');
        background-position: bottom;
        background-size: cover;
        height: 600px;
      }

      .register-headline h1 {
        font-size: 6em;
      }
      .white-line3 {
        top: 73px;
        height: 6px;
      }
}

@media only screen and (min-width: 1400px) {
  header {
    height: 950px;
  }

  .header-content {
    margin-bottom: 120px;
  }

  .header-content h3 {
    font-size: 1.6em;
  }

  .beyond-headline h1 {
    font-size: 11em;
  }

  .white-line1 {
      top: 6.3em;
  }

}

@media only screen and (min-width: 1700px) {
  header {
    height: 950px;
  }

  .register-section {
    height: 750px;
  }
}
