/*=== FONT STYLING ===*/
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
}

/* ===========================
        FLEXBOX
    ----------------------------*/

main {
  display: flex;
  justify-content: center;
}

.staff-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.person {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.photo-div {
  display: flex;
  justify-content: center;
}

.staff-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}





/* ===========================
        NAVIGATION BAR STYLE
    ----------------------------*/

.navbar {
  height: 425px;
  background-color: #181818;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-logo {
  height: 100px;
  width: auto;
  margin: 0;
  padding: 0;
}

.rightnav {
  height: 125px;
  width: 50%;
  margin: 0;
  padding: 18px 0;
}

.rightnav a {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 3px;
  border: 1px solid white;
  padding: 15px;
  margin: 5px;
}
.rightnav a:hover {
  background-color: #5E9EA2;
  transition: 350ms;
}




/* ===========================
       HEADER STYLE
    ----------------------------*/

header {
  background-image: url("../images/stock-photos/3-about-banner.jpg");
  background-position: center;
  background-size: cover;
  background-color: #aaa;
  background-blend-mode: multiply;
  color: #fff;
  margin: 0px;
  height: 300px;
}

.header-content h1 {
  font-weight: 700;
  letter-spacing: 10px;
  border: 5px solid #fff;
  margin: 20px 0px;
  padding: 5px 5px 5px 19px;
  text-align: center;
}

#down-arrow {
  height: 35px;
  width: auto;
}




/* ===========================
       MAIN CONTENT STYLE
    ----------------------------*/

main {
  background-color: #D1D3D4;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

main h1 {
  letter-spacing: 3px;
}

.content-container {
  width: 80%;
  max-width: 1050px;
}

.story {
  padding-bottom: 35px;
}

.border {
  height: 4.5px;
  width: 38%;
  background-color: #181818;
  margin: 0 auto;
  margin-bottom: 25px;
}

.person {
  width: 100%;
  margin: 40px 15px;
  padding: 18px 35px;
  background-color: #bbb;
}

.photo {
  height: 175px;
  width: auto;
  margin: 8px auto 5px;
  border-radius: 100px;
}

.title-div h1,
.title-div h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 8px auto;
}

p {
  margin-top: 25px;
  font-size: 1.15em;
  letter-spacing: .5px;
}

.staff-contact {
  width: 100%;
  margin: 5px;
}




/* ===========================
        FOOTER STYLE
    ----------------------------*/

    .social-contact,
    .foot-menu,
    address {
      /* only to view border of divs in footer
      border-bottom: 2px solid white; */
      padding: 5px;
    }

footer {
  background-color: #181818;
  color: #fff;
  padding: 15px 10%;
}

.footbox {
  margin: 15px
}

.facebook {
  width: 425px;
  height: 550px;
  margin-bottom: 0px;
}

.foot-menu {
  height: 50px;
  margin-top: 0;
}

.foot-menu a {
  background-color: #BCBEC0;
  margin: 7px;
  padding: 7px 7px 0px 10px;
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  border-radius: 22px;
  height: 28px;
}
.foot-menu a:hover,
.foot-menu a:active {
  background-color: #5E9EA2;
  font-weight: 700;
}

address h4,
address p {
  margin: 0;
  padding-bottom: 4px;
  letter-spacing: 1.5px;
}

.footbox h4 {
  font-size: 1.25em;
}

address a {
  color: white;
}

footer img {
  height: 130px;
  width: auto;
  margin: 0px;
}

.copyright {
  font-size: .89em;
  font-weight: 400;
  letter-spacing: 1px;
}



@media only screen and (max-width: 480px) {
  .content-container {
    width: 90%;
  }
}


@media only screen and (min-width: 724px)  {

  .person {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
  }

  .title-div {
    padding-left: 40px;
    text-align: right;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .title-div h1,
  .title-div h3 {
    text-align: left;
  }

  .bio-div {
    align-self: flex-end;
  }

  .staff-contact {
    justify-content: space-around;
    flex-direction: row;
  }

}
