/* ==================
    NAVIGATION BAR
    -------------------*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* ==================
    HEADER BANNER
    -------------------*/

header, .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  flex-grow: 1;
}



/* ==================
    FIRST BANNER
    -------------------*/

.banner1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


/* ==================
    INFORMATION BANNERS
    -------------------*/

.banner2,
.banner3,
.banner4,
.banner5 {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ==================
    FOOTER BANNER
    -------------------*/

footer,
.container,
.foot-menu ul {
  display: flex;
}

footer,
.container {
  justify-content: center;
}

.container {
  flex-direction: column;
}

.right-foot {
  flex-direction: column;
}

.foot-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logo-container {
  flex-wrap: nowrap;
}

@media only screen and (max-width:480px) {
  .foot-menu {
    flex-direction: column;
  }
}



@media only screen and (min-width:724px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }

  .rightnav {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
  .banner2,
  .banner4 {
    flex-direction: row-reverse;
  }
  .banner3,
  .banner5 {
    flex-direction: row;
  }

  .container {
    flex-direction: row;
  }
}
